<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Autolayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DF89F73B1C97AF4200083CEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF89F74F1C97AF4300083CEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF89F75A1C97AF4300083CEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
